<header>
  <nav>
    <a href="{{link "/"}}" class="header-logotype"></a>
    [[/posts/|Posts]]
    [[/tags/|Tags]]
  </nav>

  {{!-- <a href="#search"><img src="/assets/ic_search.svg" alt="Search toggle" /></a> --}}
  {{search id="posts" placeholder="Enter keywords, eg: minify" class="search-wrapper hidden"}}
</header>
