<header>
  <h1><a href="{{ link "/" }}">UWE Blog</a></h1>
  <nav>
      <a href="{{ link "/posts/" }}">Posts</a>
      <a href="{{ link "/tags/" }}">Tags</a>
      <a href="{{ link "/folders/" }}">Folders</a>
  </nav>
  <a href="#search"><img src="/assets/ic_search.svg" alt="Search toggle" /></a>
</header>
